*.tif
*~
*.csv
*.log.txt
*.o
*.deb
build
*.mexa64
dw
dw_bw

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.coverage
htmlcov/
.venv
venv/
ENV/
.DS_Store
